@import "../node_modules/angular-calendar/css/angular-calendar.css";

::marker {
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 10px !important;
}

.align-right{
  float: right;
}

@media only screen and (max-device-width : 640px) {
  .hidden-on-mobile {
    display: none;
  }

  .visible-on-mobile {
    visibility: visible;
  }

  .overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .new-line {
    display: block;
  }

  .d-flex {
    display: inline !important;
  }

  .title-width {
    width: 350px;
  }
}



