<div class="d-flex justify-content-center mt-2 mb-2"><i class="pi pi-calendar mr-2"></i>Calendario</div>
<div style="margin-top: 10px;">
<div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <button class="mb-2 mr-5" icon="pi pi-plus" pButton (click)="NewActivity()"></button>          
        <button class="mb-2 mr-1" icon="pi pi-caret-left" pButton mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" [excludeDays]="excludeDays"></button>
        <button class="mb-2 mr-1" icon="pi pi-sort-down" pButton mwlCalendarToday [(viewDate)]="viewDate"></button>
        <button class="mb-2 mr-1" icon="pi pi-caret-right" pButton mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" [excludeDays]="excludeDays"></button>
      </div> 
    </div>
    <div class="col-md-4">
      <h3>
        {{ viewDate | calendarDate:(view +
        'ViewTitle'):'es':weekStartsOn:excludeDays }}
      </h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="changeViewToMonth()"
          [class.active]="view === 'month'"
        >
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="changeViewToWeek()"
          [class.active]="view === 'week'"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="changeViewToDay()"
          [class.active]="view === 'day'"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <br />

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="globals.events"
    [activeDayIsOpen]="true"
    (beforeViewRender)="beforeViewRender($event)"
    (eventClicked)="eventClicked($event)"    
    [locale]="locale"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays" 
    [excludeDays]="excludeDays"   
    [activeDayIsOpen]="true"
    (eventTimesChanged)="eventTimesChanged($event)"    
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="globals.events"
    (beforeViewRender)="beforeViewRender($event)"
    (eventClicked)="eventClicked($event)"    
    [locale]="locale"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays"   
    [excludeDays]="excludeDays" 
    [dayStartHour]="9"
    [dayEndHour]="18"   
    (eventTimesChanged)="eventTimesChanged($event)"        
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="globals.events"
    (beforeViewRender)="beforeViewRender($event)"
    (eventClicked)="eventClicked($event)"
    [locale]="locale"  
    [dayStartHour]="9"
    [dayEndHour]="18"   
    (eventTimesChanged)="eventTimesChanged($event)"    
  >
  </mwl-calendar-day-view>
</div>
</div>

