<div class="d-flex justify-content-center"><input type="text" pInputText [(ngModel)]="this.ProjectName" (change)="updateProjectInfo()" size="100"/></div>
<div class="d-flex justify-content-center gantt-chart" #gantt_here ></div>

<table class="table">
    <thead>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="h6">Resumen</th>
          <th scope="row" class="h6">Horas diarias</th>          
          <td scope="row" class="h6"><p-spinner [(ngModel)]="this.DailyWorkHours" [min]="0" [max]="8" size="5" (onChange)="updateProjectInfo()"></p-spinner></td>                     
          <th scope="row" class="h6">Horas semanales</th>          
          <td scope="row" class="h6"><input type="text" pInputText [value]="projectSummary.WeeklyWorkHours" [disabled]="true" size="5"/></td>                     
          <th scope="row" class="h6">Horas mensuales</th>          
          <td scope="row" class="h6"><input type="text"  pInputText [value]="projectSummary.MonthlyWorkHours" [disabled]="true" size="5"/></td>                     
        </tr>
        <tr>
          <th scope="row" class="h6">Mes actual</th>          
          <th scope="row" class="h6">Tareas</th>
          <td class="h6"><input type="text" pInputText [value]="projectSummary.TotalTasksThisMonth" [disabled]="true" size="5"/></td>
          <th class="h6">Horas planificadas</th>
          <td class="h6"><input type="text" pInputText [value]="projectSummary.TotalHoursThisMonth" [disabled]="true" size="5"/></td>
          <td [ngStyle]="{'background-color': projectSummary.PercePlannedHoursThisMonth> 100 ? 'orangered':'limegreen' }"><p-progressBar [value]="projectSummary.PercePlannedHoursThisMonth"></p-progressBar></td>
          <th class="h6"> % Progreso</th>
          <td class="h6" ><p-progressBar [value]="projectSummary.PerceProgressThisMonth"></p-progressBar></td>          
        </tr>               
        <tr>
          <th scope="row" class="h6">Mes siguiente</th>          
          <th scope="row" class="h6">Tareas</th>
          <td class="h6"><input type="text" pInputText [value]="projectSummary.TotalTasksNextMonth" [disabled]="true" size="5"/></td>
          <th class="h6">Horas planificadas</th>
          <td class="h6"><input type="text" pInputText [value]="projectSummary.TotalHoursNextMonth" [disabled]="true" size="5"/></td>
          <td [ngStyle]="{'background-color': projectSummary.PercePlannedHoursNextMonth> 100 ? 'orangered':'limegreen' }"><p-progressBar [value]="projectSummary.PercePlannedHoursNextMonth"></p-progressBar></td>          
          <th class="h6"> % Progreso</th>
          <td class="h6 col-sm-5" ><p-progressBar [value]="projectSummary.PerceProgressNextMonth"></p-progressBar></td>          
        </tr>       
        <tr>
          <th scope="row" class="h6">Global</th>          
          <th scope="row" class="h6">Tareas</th>
          <td class="h6"><input type="text" pInputText [value]="projectSummary.TotalTasks" [disabled]="true" size="5"/></td>
          <th class="h6">Horas planificadas</th>
          <td class="h6"><input type="text" pInputText [value]="projectSummary.TotalHoursPlanned" [disabled]="true" size="5"/></td>
          <td></td>          
          <th class="h6"> % Progreso</th>
          <td class="h6"><p-progressBar [value]="projectSummary.PerceGlobalProgress"></p-progressBar></td>          
        </tr>                    
      </tbody>
</table>
<p-toast position="bottom-right"></p-toast>