<div class="d-flex justify-content-center mb-2"><i class="pi pi-cog mx-2"></i>Opciones</div>
<p-divider>Dias festivos</p-divider>
<div class="d-flex mt-2 mb-2">
  <p-chips [(ngModel)]="this.globals.project.HolyDays" (change)="this.globals.updateProjectInfo()" (onChange)="this.globals.updateProjectInfo()" (OnAdd)="this.globals.updateProjectInfo()" (OnRemove)="this.globals.updateProjectInfo()"></p-chips>
</div>
<p-divider>Horas laborales</p-divider>
<div class="mt-2 mb-2">
    <span class="me-2 mt-2 overflow-text new-line"> Horas diarias laborales</span>   

    <p-inputNumber [showButtons]="true" class="me-2 new-line" [(ngModel)]="this.globals.project.DailyFullWorkHours" [min]="0" [step]="0.25" thosandSeparator="." decimalSeparator="," ></p-inputNumber>              
    <span class="me-2 mt-2 overflow-text new-line"> Horas diarias planificables</span>   
    <p-inputNumber [showButtons]="true" class="me-2" [(ngModel)]="this.globals.project.DailyPlannedWorkHours" [min]="0" [step]="0.25" thosandSeparator="." decimalSeparator="," ></p-inputNumber>                  

    <span class="me-2 mt-2 overflow-text new-line"> Horas semanales planificables</span>   
    <input type="text" class="me-2" pInputText [value]="this.globals.projectSummary.WeeklyWorkHours" [disabled]="true" size="2"/>         
    <span class="me-2 mt-2 overflow-text new-line"> Horas mensuales planificables</span>   
    <input type="text" pInputText [value]="this.globals.projectSummary.MonthlyWorkHours" [disabled]="true" size="2"/>    
</div>
<p-divider>Integración</p-divider>
<div class="mt-2 mb-2">    
    <span class="overflow-text new-line me-2 mt-2">WebHook</span>
    <input type="text" pInputText [(ngModel)]="this.globals.project.WebHook" (change)="this.globals.updateProjectInfo()" size="80" class="width-mobile me-2"/>
    <span class="overflow-text new-line me-2 mt-2">ApiKey</span>    
    <input type="text" pInputText [(ngModel)]="this.globals.project.APIKey"  (change)="this.globals.updateProjectInfo()" size="80" class="width-mobile me-2"/>          
</div>
<p-divider>
  <button pButton type="button" icon="pi pi-check" (click)="this.globals.updateProjectInfo()"></button>
</p-divider>  

